fastapi
uvicorn
fastapi
bs4
pandas
plotly
#kaleido 
#psycopg2==2.9.1  
#SQLAlchemy==1.3.24
requests==2.21.0
tortoise-orm==0.19.2
passlib
PyJWT==2.0.0
python-multipart
gunicorn
pydantic==1.7
bcrypt
httpx
pytest
kaleido